<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="RegistrationFreeCOM ($(env.PRODUCTARCH))" Language="1033" Version="$(env.PRODUCTVERSION)" Manufacturer="rhubarb-geek-nz" UpgradeCode="$(env.UPGRADECODE)">
    <Package InstallerVersion="$(env.INSTALLERVERSION)" Compressed="yes" InstallScope="perMachine" Platform="$(env.PRODUCTARCH)" Description="Dual-Interface Hello World Component" Comments="https://github.com/rhubarb-geek-nz/RegistrationFreeCOM" />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Upgrade Id="{$(env.UPGRADECODE)}">
      <UpgradeVersion Maximum="$(env.PRODUCTVERSION)" Property="OLDPRODUCTFOUND" OnlyDetect="no" IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(env.PRODUCTPROGFILES)">
        <Directory Id="COMPANYDIR" Name="rhubarb-geek-nz" >
          <Directory Id="INSTALLDIR" Name="RegistrationFreeCOM" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="cmp49644F99A8DC013BD2FA39270E26C76C" Guid="*" Directory="INSTALLDIR" Win64="$(env.PRODUCTWIN64)">
        <File Id="fil206829A74DFF7880F64BE9D5C35CFF80" KeyPath="yes" Source="src\runtimes\win-$(env.PRODUCTARCH)\native\displib.dll">
          <TypeLib Id="{C739A43B-0300-4C57-9300-00E4FC59C40F}" Description="RhubarbGeekNzDispLib" HelpDirectory="INSTALLDIR" MajorVersion="0" MinorVersion="0" Language="0">
            <Interface Id="{58FB54DE-AE65-4676-8171-4EC1ECEB1D9D}" Name="IHelloWorld" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
           </TypeLib>
        </File>
        <RegistryValue Id="reg3606c99f8e1e4884998286eccde8db12" Root="HKCR" Key="TypeLib\{C739A43B-0300-4C57-9300-00E4FC59C40F}\0.0\0\win64" Value="[!fil206829A74DFF7880F64BE9D5C35CFF80]" Type="string" Action="write" />
        <RegistryValue Id="reg852b816e97fc40558f6085a82a262f7e" Root="HKCR" Key="CLSID\{49EF0168-2765-4932-BE4C-E21E0D7A554F}\InprocServer32" Value="[!fil206829A74DFF7880F64BE9D5C35CFF80]" Type="string" Action="write" />
        <RegistryValue Id="reg852b816e23423424894085a82a262f7e" Root="HKCR" Key="CLSID\{49EF0168-2765-4932-BE4C-E21E0D7A554F}\InprocServer32" Value="Both" Name="ThreadingModel" Type="string" Action="write" />
        <RegistryValue Id="regc20ac5fc9e314d5cbf17c7fa18fd6e08" Root="HKCR" Key="RhubarbGeekNz.HelloWorld\CLSID" Value="{49EF0168-2765-4932-BE4C-E21E0D7A554F}" Type="string" Action="write" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
